.btn {background-color: rgb(190, 251, 205);
    padding: 25px 100px;

}

.table{
padding: 25px 12px;

}

/* este es el tamaño de mi display  */
.form-control{
width: 1600px;
height: 100px;
}


  
    